/**
 * @file
 * Block Styling
  *
 */

@import "base";

.block { /* Block wrapper */
  /*margin-bottom: 1.1em;*/
  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
    font-family: $lato; 
  }
}

h2.block-title {
    border-bottom: none;
    font-weight: normal;
    padding: 0em;
    margin-bottom: 0em;
}
#block-views-footer-social-menu-links-block {
    float: right;
    max-height: 20px;
    top: -35px;
    position: relative;
}

/**
 * @Islandora Blocks
 *
**/
#block-islandora-solr-search-navigation{
margin-top: 10px;
margin-left: 5px;
font-size: 1.1em;
}

#block-islandora-solr-simple {
  display: inline-block;
  margin-bottom: 1.5em;
  max-width: 31em;
  margin-left: 10%;
  .form-text{
    max-width: 97%;
  }
}

// Header search, all pages but the front.
#islandora-header-search {
  padding-top:45px;
  .simple-search-text{
    display: none;
    float: right;
  }
  ul.menu{
    display: none !important;
  }
  .form-submit{
    background: transparent url("../images/search_btn.png") no-repeat scroll 0 0;
    border: medium none;
    clear: right;
    color: transparent;
    float: right;
    height: 25px;
    position: relative;
    right: 32px;
    top: 2px;
    width: 25px;
  }
  .form-text { 
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 3px 3px -3px #808184;
    color: #808184;
    height: 1.9em;
    padding-left: 0.5em;
    width: 100%;
    max-width: 92%;
  }
  form-item.form-type-textfield.form-item-islandora-simple-search-query {
   width:100%;
    display: inline-block;
    margin-bottom: .5em !important;
  }
  .adv_search {/*
    padding-right: 10px;
 */ }
}

#block-menu-menu-popular-links{
  margin-bottom: 0px;
  ul.menu{
    margin-bottom: 1.33em !important;
    margin-top: 0em !important;
    padding-left: 5px;
    padding-right: 0;
    list-style: none;
    li{
      list-style-image: none;
      list-style-type: none;
      padding-bottom: 2px;
    }
  }
  float: left;
  width: 20%;
  font-size: 1.25em;
}
.front #block-menu-menu-popular-links{width:40% !important; margin:0 !important;}

.block-islandora-usage-stats{
  float: left;
  padding-left: 10px;
  .item-list{
    .list-group{
      li{
        padding-top: 5px;
        padding-bottom: 5px;
        list-style: none;
        a{
          padding-left: 5px;
        }
      }
    }
  }
}

.image-block-front,
.submit-collection-anon, .submit-collection, .welcome {
  background: #fff;
  float: right;
  position: relative;
  z-index: 100;
  height: 140px;
  max-width: 360px;
  padding: 10px;
  box-shadow:  0px 0px 5px 1px rgba(38, 37, 38, 0.3);
    -webkit-box-shadow:  0px 0px 5px 1px rgba(38, 37, 38, 0.5);
}

.recent-object-item-wrapper{
  padding-bottom: 5px;
  padding-top: 5px;
  display: table;
  a{
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    img{
      max-width: 2em;
      transition: linear max-width .2s;
    }
  }
}
.recent-object-item-wrapper:hover{
 img{
  max-width: 100%;
  position: relative;
 }
}
.front-page-browse-all-collections{
  width: 100%;
  .view-frontpage-solr-boxes{
    .view-content{
      table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5em;
        table-layout: fixed;
        width: 100%;
      }
    }
  }
}

.welcome {
  h2 {
    color: #3D8396;
    margin: 0.8em 0;
    font-weight: normal;
    font-size: 120%;
  }
  p {
    margin: 0.2em 0;
    line-height: 1.3em;
    color: #424143;
  }
}

#block-accordion-rotator-accordion-rotator {
  max-height: 440px;
  width: 99.5%;
  float: left;
  margin-bottom: 1.4em;
}

#block-views-top-site-searches-block, #block-views-top-facet-searches-block {
  table {
    width: 100%;
  }
}

.views-field.views-field-dcdescription {

}

.block-islandora-solr {
  ul {
    margin: 0.5em 0 0;
    padding: 0 !important;
    li {
      list-style: none;
      padding: 1px 5px 1px 7px;
      margin: 0px;
    }
    li:hover {
      background: #e1e1e1;
    }
  }

  h3 {
    margin-bottom: 0;
    color: #5A5B5D;
    font-size: 130%;
    font-weight: normal;
    padding: 0.7em 0 0 0;
  }
}

.count {
  color: #888;
}

.plusminus {
  display: inline-block;
    font-family: Arial;
    font-weight: 600;
    padding-left: 3px;
}
.plusminus a{
   color: #5a5b5d;
}

#block-islandora-solr-display-switch {
  float: right;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#block-islandora-solr-display-switch {
  ul {
    li {
      float: left;
    }
  }
}

.islandora-solr-display a.display-default, .islandora-solr-display a.display-grid,
.islandora-solr-display a.display-table {
  background: url("../images/display-grid-list.png") no-repeat scroll left top transparent;
  display: inline-block;
  height: 22px;
  outline: medium none;
  text-indent: -9999px;
  width: 25px;
}

.islandora-solr-display a.display-grid {
  background: url("../images/display-grid.png") no-repeat scroll left top transparent;
}

.islandora-solr-display a.display-table {
  background: url("../images/display-list.png") no-repeat scroll left top transparent;
}

#block-islandora-bookmark-islandora-bookmark {
  clear: left;
}

#islandora-bookmark-overview-form table, #islandora-bookmark-detailed-overview table {
  width: 100%;
}

/**
  * @Menus 
  *
**/

#block-menu-menu-header-menu {
  line-height: 0.3em !important;
  height: 30px;
  width: 100%;
}

.header-text-logo{
  margin-bottom: 0px;
}

#block-views-social-links-block {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  table{
    width: 100%;
    div.field-content{
      text-align: center;
    }
  }
}

.footer-center{
  .field-item{
    //text-align: center;
  }
}

.footer-left{
  padding-top: 2em;
}

/**
 * @Views Blocks
 *
**/

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

.submit-collection, .submit-collection-anon { /* First block created with "Add block" link */
  height: 70px;
  background: #419845 !important;
  font-size: 130%;
  font-weight: normal;
  line-height: 3.2em;
  float: right;
  margin-bottom: 0;
  a {
    color: #fff;
    margin-left: 3.2em;
  }
  p {
    margin: 0.25em 0;
  }
}

.block-front-page-browse-collection {
  min-height: auto !important;
  height: auto;
  table {
    width: 100%;
    td {
      vertical-align: top;
    }
  }
}
/* @Google Analytics Views */

#block-views-object-visitors-by-month-block {
  float: left;
  padding: 15px;
  background: #fff;
  min-height: 520px;
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
  box-sizing: border-box;
}

#block-menu-menu-browse-by {
  @extend #block-views-object-visitors-by-month-block;
  width: 39.5%;
  min-height: auto !important;
  li {
    list-style: none;
    padding: 10px;
  }
}

#block-widgets-s-socialmedia-share-default {
  position: relative;
  right: 0;
}

.block-front-page-browse-collection {
  float: right;
  width: 59.5%;
}
#block-views-top-site-searches-block {
  @extend #block-views-object-visitors-by-month-block;
  margin: 0;
  font-size: 90%;
  th.views-field-search, th.views-field-pageviews {
    padding: 0.8em 0;
  } 
}

#block-views-top-facet-searches-block {
  @extend #block-views-object-visitors-by-month-block;
  margin: 0;
  font-size: 90%;
}

.block-google-analytics-reports {
  margin: 0 10px;
  @extend #block-views-object-visitors-by-month-block;
  h3 {
    font-size: 93%;
    color: #424143;
  }
  ol, p {
    font-size: 90%;
  }
}

.block-front-page-browse-collection {
  @extend #block-views-object-visitors-by-month-block;
}

/* Accordion Rotator */

#block-accordion-rotator-accordion-rotator {
  h2 {
    font-size: 120%;
    padding: 0 15px;
    font-weight: normal;
    margin: 0;
  }
  p {
    font-size: 80%;
    padding: 0 15px;
    font-family: arial, helvetica, verdana, sans-serif  !important;
    margin: 0;
    font-weight: normal;
  }
  .acc_content {
    background: none;
  }
  .box {
    height: 75px;
    padding-top: 15px;
  }
}



/* Blockify */

#block-blockify-blockify-logo {
  img {
    width: 75%;
  }
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
    color: #7c7c7c !important;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    left: 160px;
    padding-right: 5px;
/*    position: fixed;*/
    top: 10px;
    width: 70%;
    z-index: 100;
    margin-bottom: 0px;
    a{
      color: #7c7c7c;
    }
    a:hover{
     color:#000;
  } 
  a:visited{color: #7c7c7c;}
} 
/*.hagmain li.first.leaf a { /* "Main menu" 2 Logo hack */
/* font-family: "Roboto",arial,sans-serif !important;
    font-size: 1.8em !important; /*going all barry bonds on this link*/
/*    font-weight: 300;
    margin-right: 15px;
    padding-left: 7px !important;
}*/
#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
  ul {
    padding-left: 0;
  }
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

/*
 * Social Media block
 */

#block-widgets-s-socialmedia-share-default {
  .widgets-element {
    img {
      width: 80%; 
    }
  }
}
#block-widgets-s-hagley-share{
	padding-top:5px;
}

/*Custom Hagley Blocks*/
#block-views-tumblr-view-block{
  max-width: 20%;
  box-sizing: border-box;
  float: left;
  width: auto;
  word-wrap: break-word;
  overflow:hidden;
}
 h3.tumblrTitle{
  color: #fff;
  padding-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 125%;
  text-shadow: none;
  display:block;
  text-align: center;
}
 .vaultLink{
  display:none;
}
 div.view-tumblr-view{
 width:100%;
}
#block-views-tumblr-view-block img{
 max-height: 20em;
 height: auto;
 max-width: 100%;
 display: inline-block;
 box-shadow: -1px 1px 8px 2px #e2e2e2;
 margin-bottom:10px;
}
span.tumblrBody p {
    display: none;
}
.view-tumblr-view .views-field-description{
 display:inline-block;
 text-align:center;
 width: 100%;
}
/*tumblr frontpage*/
.tumblrFront-block{
display: inline-block;
float:right;
max-width:20%;
max-height:27em;
position: relative;
margin-right: 10%;
background: rgba(255, 255, 255, 0.9) !important;
border-radius: 5px;
padding-right: 7px;
padding-left: 7px;
margin-top: 5px;
}.tumblrFront-block img{
max-width:100%;
max-height:25em;
}
.tumblrTitle-front{
/*box-shadow: 4px 4px 5px #8b8b8b;
margin-left: -2.5em;
margin-top:.5em;*/
margin-bottom:0;
padding:0;
max-width:100%;
word-wrap: break-word;
color:#fff;
}
.tumblrTitle-frontWrapper{
width:100%;
text-align:center;
text-transform:uppercase;
}

.footer-logo img{max-width:100%;height:auto;}

/*Menu Styles*/
.top_menu{
span.ext{display:none;}
ul.menu{float:none;margin-left:160px;margin-top:0;margin-bottom:0;top:0;padding-top:7px;}
ul.menu li a{color: #7c7c7c;
    font-size: 0.85rem;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;}
ul.menu li a:hover{color:#000;}
}
.libraries_title_menu{
ul{list-style:none;}
ul li{padding-top:13px;padding-bottom:6px;}
ul li a{ color: #b3b3b3;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.4em;
    text-decoration: none;
    text-transform:uppercase;}
ul li a:hover{color:#fff;}
ul.menu_first{margin-top:0;margin-left:275px;float:left;}
ul.menu_last{margin-top:0;margin-left:15%;float:left;}
span.ext{display:none;}
}

#navigation{
display:table;
height:auto;
margin:15px;
padding:5px;
margin-top: 20px;
    background: #f6f6f6;
    border-radius: 5px;
 a{
    color: #fff;
    text-transform:uppercase;
    padding:5px;
}
li{ background-color:#555555;
   padding: 10px;
       transition: .5s background-color;
}
li:hover{background-color:#eee;
      a {color:#111;}
}
  h2.block-title{
    color: #888 !important;
    height:auto !important;
    width:auto !important;
    font-size:1.9em;
   letter-spacing: -0.05px;
  position:relative;
  padding-bottom:10px;
}
}
