/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
  */

@import "base";
@import "_variables";

/*islandora grid tweaks*/
.islandora-objects-grid dl {
	vertical-align: middle;
}

/*front footer transparency*/
.front .f-wrapper{
	background: rgba(128,128,128,0.6);
	padding:1em;
	border-radius:15px;
	margin-bottom:6em;
	margin-top:6em;
}
a#clip {display:none;}
#islandora-header-search{}

/*BG-images*/
body.front {background-attachment: fixed !important;
}
body.page-islandora-object{
  background: url('/sites/default/files/pictures/home_background2.jpg');
  background-size: cover;
}
body.page-islandora-search{
  background: url('/sites/default/files/pictures/Generic_Background.jpg') no-repeat;
  background-size: cover;
}
body.page-node{
  background: url('/sites/default/files/pictures/new_background.jpg') no-repeat;
  background-size: cover;
}

/*font fix from normalize/more cheating*/
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

/*coll_search_hide option*/
option[value="all"] {
    display: none;
}

/* fixed-header chaos */
/*header#header {
    top: 0;
}
nav {
    margin-top: 7.6%;
}*/

/*hiding list option*/
.islandora-objects-display-switch {
    display: none;
}

/*body links*/
a:link {color:$active;
text-decoration: none;}
a:hover{color:$hover}
a:active{color:$active}
a:visited{color:$active}

article.node{
 font-size: 1.2em;
 line-height: normal;
 a {text-decoration: underline;}
}

.region-header {
}

/*
 * Client based customizations.
 */
.mean-bar {
  margin-top: 0px;
  box-shadow:0 4px 6px -2px #7c7c7c;
  span{display:none;}
}
.mean-container .mean-nav ul li a.mean-expand {width:auto;max-width:20%;}
.mean-container .mean-bar {
  z-index: 5;
  top:0;
  position: fixed;
  background: #fff;
  color: #000 !important;
}
a.meanmenu-reveal{
 color:#000 !important;
}
.mean-container a.meanmenu-reveal span {
 background: #0d1013;
}
.mean-container{ 
  .mean-nav{ 
  font-size: 1.2em;
  background: #fff;
   ul li a {
 padding: .85em 5%;
 color: #0d1013;
 border-top: 1px solid #0d1013;
  }
 }
} 

.social-share-outer {
  padding-bottom: 2em;
}

.contextual-links-region {
  position: relative;
}

html {
    font-family:'Lato',arial,sans-serif; 
}
#page {
   /* background: #FFFFFF;*/
}
#block-menu-menu-header-menu {
    float: left;
    font-size: 1em;
    height: 35px;
}
.block-shib-auth {
  float:right;
  padding-left: 15px;
  font-size: 85%;
}

.collection-image-wrapper img {
  max-height: 30em;
  max-width: 100%;
  width: auto;
}

#content {
    /*box-shadow: none!important;*/
}
.breadcrumb {
    font-size: .95em;
    letter-spacing: 1.2pt;
    line-height: 1.1em;
}
#footer menu, ol, ul{
    padding: 0 0 0 0;
}

.body-wrapper{/*
  background-image: no-repeat;
  background-size: cover;*/
}

body{
  //background-size: 120% auto !important;
  color: #333333;
  font-size: 85%;
  line-height: 1.5em;
  margin: 0; 
  p{
	font-size:1rem;
  }
  dd.islandora-object-caption{
	font-size:1rem;
	}
  ol{
	font-size: 1rem;
  }
}

nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.item-list ul {
  padding: 0 0 0 0;
}

#block-menu-menu-footer-menu {
    font-size: .95em;
}

.view-footer-social-menu-links td {
  padding-left: 5px;
  padding-right: 5px;
}

.browse-all-item-wrapper {

}

.new-collections-item-wrapper img {
  vertical-align: middle;
  max-width: 5em;
}

#mediaplayer{
  max-width: 100%;
}

#page-title {/*work now?*/
  background: none !important;
  font-weight: 300;
  color:$fakeblack !important;
  font-size: 2rem;
  line-height: 1em;
  letter-spacing: 2px;
  margin: 0;
  text-shadow: none;
}
div.islandora-solr-collection-display ~ h1{
  font-weight: 300;
  color:$fakeblack !important;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1em;
  letter-spacing: 2px;
  margin: 0;
  text-shadow: none;
}

.region.region-highlighted {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

/*
 * View Slideshow
 */
.flex-direction-nav a {
  line-height: 40px;
}
.flex-viewport {
  height: auto !important;
  ul {
    li {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
.flexslider .slides {
  margin: 0 auto !important;
}
.front-page-slideshow {
  width: 100%;
  box-sizing: border-box;
}
.flex-viewport {
  ul {
    display: inline-block !important;
  }
  img {
    display: block;
    height: 150px;
  }
}
.flexslider-views-slideshow-main-frame li {
    position: relative;
}
p.flex-caption {
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100%;
  position: absolute;
}

.flexslider {
  margin-bottom: 40px;
  a{
    display: inherit;
  }
  .slides {
    img {
      display: inline-block;
      height: auto;
      max-height: 30em;
    }
  }
}
.slideshow-item-image-wrapper {
  text-align: center;
}

.slides li {
  display: inline-block!important;
  float: none!important;
}

.collection_folder {
  background-image: url("../images/folder.png");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  height: 60px;
  width: 60px;
}

.islandora-default-thumb {
  @extend .collection_folder;
  a {
    img {
      opacity: 0;
    }
  }
}

.view-content{
  table {
    width: 100%;
    table-layout: fixed;
  }
}

.islandora-basic-collection-thumb{
  text-align: center;
  img{
    width: 100%;
    max-height: 200px;
    max-width:200px;
  }
}

.islandora-object-thumb{
  text-align: center;
  img{
    border-radius: 5px;
    max-width: 100%;
    max-height: 200px;
  }
}

.islandora-basic-collection-caption{
  text-align: center;
}

.islandora-object-caption{
  text-align: center;
}

.block-front-page-browse-collection table {
  table-layout: fixed;
}

div.widgets-element-horizontal {
    float: right;
}

#content #widgets-element-socialmedia_share-default{
  div {
    max-width: 20px;
  }
}
/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

.block-border-bottom, #content{
  display: inline-block;
}

/*
 * Searching
 */

.islandora-solr-search-result {
  border-top: none;
  border-bottom: none;
  background: #f7f9f6;
}

.islandora-solr-search-results {
  margin-top: 3em;
}

.solr-fields dt, .solr-fields dd {
  border-top: 1px solid #EEF0ED;
  word-wrap: break-word;
}
.solr-fields dt{
padding-left: 15px;
}
.islandora-inline-metadata dd {/*padding-left:2px;*/
}
.islandora-inline-metadata dd p{
margin: 1.5em 0;
}
dl.solr-fields {
  border-top: none;
  float: right;
  width: 83%;
}

dl.solr-thumb {
  float: left;
  width: 15%;
  margin: 2% 0 2% 1%;
}

.front{
 .f-wrapper #block-menu-menu-popular-links{
/* margin-left: 20% !important;
 margin-right: -50% !important;*/
}
 .f-wrapper .footer-logo{
   margin-left: 0 !important;
    margin-right:-60% !important;
 }
  #navigation{
    padding-bottom: 0px;
    padding-top: 0px;
  }
  #content{
    background-color: transparent;
    padding-bottom:3em;
  }
  #page{
    background-color: transparent;
    padding-top: 0px;
    max-width: 90%
  }
  .islandora-simple-search{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    /*transform: translateY(35%);*/
    h2{
      text-align: center;
      color: black;
      font-size: 300%;
      line-height: normal;
      font-family: "Ropa Sans" !important;
    }
    ul.menu{
      text-align: center;
      float: left;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style-type: none;
      font-size: 1.35em;
    a {
      float: left;
      text-decoration: none;
      padding: 0.2em 0.6em;
    }
    a:hover{
      background-color: transparent;
      color: $bluefix;
    }
    li {
      display: inline-block;
    }
    li:hover{
      background-color: transparent;
    }
    li:last-child a{
      border-right: none;
    }
  }
    .simple-search-text {
      text-align: center;
    }
  }
  #page-title{
    display: block;
    padding-left: 5px;
    padding-top: 0.25em;
  }
  #first-time{
    display: none;
  }
  .region-highlighted{
    width: 100%;
    display:inline-block;
  }
  #main{
    max-width:100%;
 }
}

.footer-popular-links, #block-system-main-menu, .adv_search{
  ul.menu{
      width: 100%;
      padding: 0;
      margin: 0;
      list-style-type: none;
    a {
      text-decoration: none;
      padding: 0em 0.6em;
    }
    a:hover{
      background-color: transparent;
      color: black;
    }
    li {
      padding-bottom:2px;
    }
    li:hover{
      background-color: transparent;
    }
  }
}

#footer, #block-menu-menu-footer-menu{
  a {
    text-decoration: none;
    color: white;
  }
  a:hover{
    background-color: transparent;
    color: white;
    text-decoration:underline;
  }
}

/*
 * Header
 */
#header {
/*box-shadow: 0 4px 6px -2px #7c7c7c; */
    min-height: 40px;
    overflow: hidden;
   /* position: fixed;
*/
    width: 100%;
  /*  z-index: 1;*/
}

.h-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding-top: 5px;
}
div.form-item-islandora-simple-search-query {
    margin-bottom: 4px;
    margin-top: 4px;
}

#logo{
background: #fff none repeat scroll 0 0;
box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 1);
    float: left;
    height: 98px;
    left: 0;
    margin: 0;
    padding-top: 12px;
    text-align: center;
    top: 0;
    transition: height 0.6s ease 0s;
    width: 153px !important;
    z-index: 100;
  img{
    height: auto;
    max-height: unset !important;
    max-width: 100% !important;
    padding-right: 0;
    padding-top: 4px;
    z-index: 100;
  }
}
.logoContainer{
 display:block;
 float:left;
 position:absolute;
 }
/*Accordion Rotator */

div.accordion_button.next {
  margin-right: 5px;
}
div.accordion_button.previous {
  margin-left: 5px;
}

.logged-in.not-front #header {
  padding-top: 0em;
}

#logo { /* Wrapping link for logo */

}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
  background: transparent;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  //color: #5A5B5D;
  a:link,
  a:visited {
    //color: #5A5B5D;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
  color: #A14243;
  font-weight: normal;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  margin-left: 0px;
  margin-top: 0px;
  width: 81%;
}

/* .front{
*  #name-and-slogan, #logo, #site-name{
*    display: none;
*  }
*} */

/*
 * Main (container for everything else)
 */

#main {
  background: none !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

/*
 * Content
 */

#content {
  width: auto;
  background: #e7e7e7;
  padding: 1.5em 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.front #content {
    background: #fafafa none repeat scroll 0 0 !important;
    border-radius: 5px;
    max-width: 100%;
    display: block;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  font-size: 80%;
  letter-spacing: 0.6pt;
  line-height: 1.5em;
  padding-left: 9px;
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    list-style-type: none;
    margin: 5px 0;
    padding: 2px 5px 4px;

    a:hover {
      color: #888;
    }
  }
  li:hover {
    background: #F7F9F6;
  }
  .islandora-solr-breadcrumb-super {
  font-size: 100%;
  position: relative;
  left: 1px; top: 4px;
    a {
    color: #222;
    }
    a:hover {
      color: red;
    }
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
  //color: #5A5B5D !important;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
  font-size: 1rem;

  li { /* Each page number in the pager list */
    padding: 0.5em;
    margin: 0;
  }
}

ul.pager li.pager-current {
  font-size:1.2rem;
 /* background: none repeat scroll 0 0 #CCCECF;
  border: 1px solid #419845;*/
  //color: #5A5B5D;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

#google-pdf-viewer {
  padding-top: 1.5em;
}

.islandora-pdf-link {
  float: right;
}

.islandora-pdf-sidebar {
  ul {
    padding: 0 1em;
  }
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first{ /*override responsive*/
width: 23% !important;
padding-top: 10px; /*sorry theme instructions*/
border: 1px solid #d9d9d9;
}
.sidebar-first #content { /*override responsive*/
    margin-left: 23%;
    width: 77%;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}


/*
 * Footer
 */

#footer{
  background-color: rgba(88, 83, 83, 0.80) !important;
  bottom: 0;
}

.f-wrapper, #block-menu-menu-footer-menu{
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  margin-top: 4em;
  margin-bottom: 4em;
}

.f-wrapper{
  .block{
    margin-bottom: 0em;
  }
}

.islandora-audio-metadata, .islandora-oralhistories-metadata, .islandora-book-metadata, .islandora-binary-object-metadata, .islandora-pdf-metadata, .islandora-basic-image-metadata, .islandora-large-image-metadata, .islandora-newspaper-metadata, .islandora-video-metadata{
  li{
    margin-left: 20px;
  }
  a:link{
   text-decoration:underline;
  }
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

/*More CM Object-level styles*/
.islandora-large-image-content{
 width: 100% !important;
}

input#copylink { /*what is this? a form field for ants!?*/
z-index:-100;
position:absolute;
}

//*Temp space for media queries*/
@media (max-width:768px){
#logo img{display:none}
#logo {
   background: url('/sites/default/files/pictures/hagley_logo_horiz.png')no-repeat;
   height: 48px;
   width: 155px !important;
   position: fixed;
   margin-top: 7px;
   margin-left: 5px;
   box-shadow: 0px 4px 0px -4px #7c7c7c;
 }
#header{
 box-shadow:none;
 z-index: 100;
 }
#block-views-tumblr-view-block{
/* max-width:40% !important; */
}

header#header{
  width: 165px;
  max-width: 165px;
  height: 48px;
}
.region-sub-header{display:none;}
.region-sidebar-first{display:none;}
}
@media only screen and (max-width: 900px){
.footer-description p{margin:0 !important;}
}
@media (min-width:768px){
#block-system-main-menu{
     display:none !important;
    ul.menu {
    .last.leaf{
      display: none;
  }
 }
}}
.islandora-objects-grid {text-align:center;}
@media (min-width:550px) and (max-width:960px){
.page-islandora-object .region-sidebar-first{
 display:none;
}
.page-islandora-object #content{
width:100%;
.islandora-objects-grid{
 width:100% !important;
 }
}
.page-islandora-search .region-sidebar-first{
display:block;
width:23%;
padding-right: 0;
}
.page-islandora-search #content{
float:right;
width:77%;
margin-left:0;
}
}
@media (max-width: 768px){

.page-islandora-search .region-sidebar-first{
    display: none;
  }
 .sidebar-first #content{
    width: 100%;
    margin: 0;
 }
 .islandora-compound-title img{display:block;}
}
@media (max-width: 550px){
.front{
 .f-wrapper #block-menu-menu-popular-links{
  width: 100% !important;
    }
  }  
dl.solr-thumb{width:100%;text-align:center;}
dl.solr-fields.islandora-inline-metadata{width:100%;clear:left;}
dt.solr-label{min-width:40%;}
#navigation .island_nav{ 
ul.menu{display:none !important;}
h2.block__title.block-title{display:none !important;}
}
}
@media (max-width: 960px){
.collection-search-wrapper{width:100% !important;}
.islandora-compound-title img{display:block;}}
@media (max-width: 550px){
.collection-search-wrapper{
select#edit-collection-select{width:100% !important;}
#edit-islandora-simple-search-query--2{
width:98% !important;
padding-left: 0px !important;
margin-left:0px !important;
margin-top:.25em;}}}


/*New Footer Styles*/
.f-wrapper{
	color: #fff;
    line-height: 1.5em;
    h3{
	color:#000;
	font-family: "Lato",arial,sans-serif;
    font-size: 14.4px;
    letter-spacing: 1px;
    text-transform: uppercase;
	text-shadow:none;
 }
   .locations{
	font-size:0.9rem;
	font-weight: 300;
	 h3{line-height:0;text-shadow:none;}
	li{list-style-type:none;}
	.contactBox{padding-bottom:20px;}
	ul{margin-bottom:0;}	
}
  #block-menu-menu-popular-links{
	font-size: 14.4px;
	.li a{color:#444;}
	.li a:hover{color:#444;}
h2{font-size:14.4px;color:#000;font-weight:bold;text-shadow:none;}}
  .news-logos{
	max-width: 225px;
	font-size:0.9rem;
	font-weight:300;
	.footer-link{ a{
    background: #333333 none repeat scroll 0 0;
    border: 0 none;
    color: white;
    margin-top: 15px;
    padding: 5px 10px;
    transition: background-color 0.5s ease 0s;}	
		a:hover{
    background-color: #fff;
    color: #000;
    text-decoration: none;}
	}
    p{margin-top:5px;}
}
  .socialIcons{
	a:hover{background-position: 0 -34px !important;}
	.icons{
		display:inline-block;
		height:30px;
		text-indent: -9999em;
		transition: background 0.2s ease-in-out 0s;
		width:30px;}
		.facebook{
			background: rgba(0, 0, 0, 0) url("/sites/default/files/images/icon_facebook_footer.png") no-repeat scroll 0 0;
    			padding: 2px;
		}
		.twitter{
			background: rgba(0, 0, 0, 0) url("/sites/default/files/images/icon_twitter_footer.png") no-repeat scroll 0 0;
    			padding: 2px;
		}
		.youtube{
			background: rgba(0, 0, 0, 0) url("/sites/default/files/images/icon_youtube_footer.png") no-repeat scroll 0 0;
    			padding: 2px;
		}
		.pinterest{
			background: rgba(0, 0, 0, 0) url("/sites/default/files/images/icon_pinterest_footer.png") no-repeat scroll 0 0;
			padding: 2px;
		}
  }
.smith{margin-top:2em;}
}
/*IA BookReader*/
.BRicon.info{display:none;}
.dl-pdf-wrap{display: inline-block;
    float: right;
    border: 1px solid #d9d9d9;
    margin: 5px;}
div:hover.dl-pdf-wrap{background:#efefef;}
a.dl-pdf{font-family: "Lato", arial, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 5px 8px;
    display:block;
    line-height: 2.5;}
a:hover.dl-pdf{text-decoration:underline;color:#000;}

/*metadata*/
.islandora-metadata{
	a.fieldset-title{
		font-size:1.1rem;
		font-weight:700;
		padding-left:15px;
		text-decoration:none;
	}
	span.fieldset-legend{padding-left:0 !important;}
	div.fieldset-wrapper{margin-top:10px;}
	.islandora-inline-metadata{padding-left: 2.5em; padding-right:2.5em;}
	.islandora-inline-metadata,.islandora-metadata-fields{font-size:0.95rem;}
}
.islandora-metadata{
	.islandora-metadata-fields{
			dd{
				p{
					margin:0;
				}
				padding-top: 15px;
				padding-bottom: 15px;
				}
			dt{
				padding-bottom:15px;
				padding-top: 15px;
				text-align:left;
			}
		}
}
/*mobile search results*/
@media(max-width:768px) and (min-width:550px){
dl.solr-grid-field{
	margin: 1em 1%;
	min-width: 140px;}
.islandora-solr-display li.last{display:none;}}
@media(max-width:550px){
dl.solr-grid-field{
	margin:1em 1%;
	min-width:none;
	width:45%;}
.islandora-solr-display li.last{display:none;}}

/*newspapers*/
.islandora-newspaper-object{
	margin-top:5px;
}
.islandora-newspaper-content{
	font-size:1.1em;
	float:none;
	width: 100% !important;
	.vertical-tabs{width:60%;}
	.vertical-tabs-panes{
	background:#fff;
	padding:5px;
}
	.links a{
	    background: #fff;
	    color: #333;
    	    line-height: 1.33;
	    display: inline-block;
	        text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-right: 2px;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;}
	.links a:hover{
	background: #efefef;
}
}
/*advanced search page and facet browser*/

/* binary object styles*/
.islandora-binary-object-content-wrapper{
 display:inline-block;
 .form-item{
	display:block;
	padding:10px;
	border: 1px solid #d9d9d9;
	margin:5px 0 10px 0;
 }
 label{
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    font-family: "Lato", arial, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5em;
}
 a{
	font-family:'Lato', arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	padding:2px;
	line-height:1.5;
	text-decoration:underline;
}
 .binary-object-info{
	font-size:1rem;
 }
 .islandora-binary-object-content{
	text-align:center;
 }
}
