@import "zen";

$zen-column-count: 2;
$zen-gutter-width: 10px;
// Create page layout
div.newspaper-description-wrapper{
 padding-bottom: 10px;
  a {
    color: #396c79;
 }
  a:hover{text-decoration: underline;
 }
}
.newspaper-landing-wrapper{

  @include zen-grid-container;

  .newspaper-image-wrapper{
     text-align:center;
	padding-left: 15px;
	padding-right:20px;
	padding-bottom:5px;
    @include zen-grid-item(1, 1);
    .form-item{
      margin-top: 1em;
    }
  }
  .newspaper-description-wrapper{
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
    @include zen-clear(right);
    @include zen-grid-item(1, 1, right);
  }
}



$zen-column-count: 2;
$zen-gutter-width: 10px;
// Create page layout
div.collection-description-wrapper{
 h1.title{
    margin:0;
    font-size:1.3rem;
	font-weight:700;
	line-height:1.5em;
	letter-spacing:1px;
	color:#333;
	text-transform:uppercase;
	text-shadow: none !important;
}
  a {
    color: #396c79;
 }
  a:hover{text-decoration: underline;
 }
}
.collection-landing-wrapper{

  @include zen-grid-container;
  
  .collection-image-wrapper{
	padding-right:10px !important;
     text-align:center;
    @include zen-grid-item(1, 1);
    .form-item{
      margin-top: 1em;
    }
  }
  .collection-latest-objects-wrapper{
    @include zen-clear(right);
    @include zen-grid-item(1, 1, right);
    padding-top: 15px;
  }
  .collection-description-wrapper{
    @include zen-clear(right);
    @include zen-grid-item(1, 1, right);
	padding-left:10px !important;
  }
}

$zen-column-count: 7;
$zen-gutter-width: 10px;
// Create page layout
.page-view-all-collections .view-content{
  
  .views-row{ 
    .views-field-dctitle{
      font-size: 130%;
    }
    @include zen-grid-container;
    border-bottom: 1px solid grey;
    padding-bottom: 1em;
    padding-top: 1em;
    >div{
      padding: 5px;
      @include zen-grid-item(6, 1, right);
      @include zen-clear(right);
    }
    .views-field-PID{
      @include zen-grid-item(1, 1);
    }
  }
}

@media (max-width: 550px) {
  $zen-column-count: 2;
  $zen-gutter-width: 10px;
  // Create page layout
  .collection-landing-wrapper{
  @include zen-grid-container;
  .collection-image-wrapper{
    @include zen-grid-item(7, 1);
    .form-item{
      margin-top: 1em;
    }
    @include zen-clear();
  }
  .collection-latest-objects-wrapper{
    @include zen-grid-item(7, 1);
    @include zen-clear();
  }
  .collection-description-wrapper{
    @include zen-grid-item(7, 1);
    @include zen-clear();
  }
}
}
/*advanced search and browse*/
$zen-column-count: 2;
.islandora-advanced-search{
	@include zen-grid-item(1,1);
	select#edit-collections{max-width:100%;}
	.form-item-collections{max-width:100%;}
}
.solr-facet-browse{
	@include zen-grid-item(1,2);
	.item-list{
		float:left;
		font-size:1.1em;
	}
	h2{padding-bottom:10px;}
}
body.section-advanced-search article.node-page{
	@include zen-grid-item(2,1);
	@include zen-clear();	
	float: none;
	p{margin-top:0px;}
}
ul.islandora-solr-facet-pages-results{
	font-size:1.1em;
	list-style-position:inside;
	column-count:4;
}
@media (max-width: 1024px){
	ul.islandora-solr-facet-pages-results{
        column-count:3;
}
}
@media (max-width: 768px){
        ul.islandora-solr-facet-pages-results{
        column-count:2;
}
}
@media (max-width: 550px){
        ul.islandora-solr-facet-pages-results{
        column-count:1;
}
}
.not-front{
 .islandora-solr-collection-display{
		.islandora-objects-grid-item{ 
			dl.islandora-object{
				min-width:175px;
				margin: 1.25em;
}
			dl.islandora-object:hover{
				opacity:.8;
				a{
					color: #0b2831;
  				}  
  			} 
} 
.collection-search-wrapper h3{
text-shadow:none;
color:#5A5B5D;
padding: .5em .25em .25em 5px;
font-weight:normal;
font-size:130%;
}
}
}
