@import "zen";

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}
  $zen-column-count: 5;
  $zen-gutter-width: 10px;

.front{
  body{
    overflow: hidden !important;
    background-attachment: fixed;
  }
/*div.body-wrapper{
    background: rgba(50, 172, 209, .3);
}*/
}



  $zen-column-count: 6;
  $zen-gutter-width: 5px;
.h-wrapper{
  @include zen-grid-container;
  #islandora-header-search{
    #islandora-solr-simple-search-form {
      float: right;
    }
  }
   ul.menu{
    width: 100%;
    list-style-type: none;
  a{
    text-decoration: none;
    padding-left: 0em;
    padding-right: 0.6em;
  }
  a:hover{
    background-color: transparent;
  }
  li {
    display: inline-block;
    }
  }

}

@media (max-width: 550px) {
  .collection-search-wrapper {
    #islandora-collection-search-form{
      #edit-simple{
        div.form-item-collection-select{
          select{
            width: 100%;
            margin-bottom: 10px;
          }
        }
        div.form-item-islandora-simple-search-query{
          input{
            width: 100%;
          }
        }
      }
    }
  }
  .h-wrapper {
    #islandora-header-search{
      #islandora-solr-simple-search-form{
        float: none !important;
      }
    }
  }
  .region-header{
    left: auto;
    position: relative;
    margin-top: auto;
    margin-left: auto;
    width: auto;
  }
  #block-system-main-menu ul.menu {
    text-align: center;
    li{
      display: inline-block;
      text-align: center;
    }
  }
  #name-and-slogan{
    float: none;
  }
  
  #content{
    .block-islandora-solr{
      max-width: 100%;
      margin-left: 5px;
    }
  }
}
  $zen-column-count: 5;
  $zen-gutter-width: 10px;
// Create page layout
.f-wrapper{
  $zen-column-count: 1;
// text-align: center;
  @include zen-grid-container;
  }

.bottom-wrapper {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
}
//$zen-column-count:4;
//.f-wrapper{
//$zen-grid-width:100%;
//@include zen-grid-container();
//#block-block-6{
//@include zen-grid-item(1, 1);
//padding-top:10px;
//max-width:100%;
//padding-left:4%;}
//#block-views-tumblr-view-block{
//@include zen-grid-item(1, 2);}
//#block-menu-menu-popular-links{
//@include zen-grid-item(1, 3);
//max-width:100%;}
//#block-block-7{
//@include zen-grid-item(1, 4);
//max-width:100%;}
//}
//$zen-column-count:2;
//@media (max-width:1024px)and(min-width:550px){
//.f-wrapper{
//$zen-grid-width:100%;
//@include zen-grid-container();
//#block-block-6{
//@include zen-grid-item(1, 1);
//padding-top:10px;
//max-width:100%;
//padding-left:0;
//text-align:center;
//padding-bottom:20px;}
//#block-views-tumblr-view-block{
//@include zen-grid-item(1, 2);
//max-width: 100%;
//padding-bottom: 20px;}
//#block-menu-menu-popular-links{
//@include zen-grid-item(1, 1);
//@include zen-clear(left);
//max-width:100%;
//text-align:center;}
//#block-block-7{
//text-align:center;
//@include zen-grid-item(1, 2);
//@include zen-clear(right);
//max-width:100%;
//	.news-logos{max-width:100%;}}
//  }
// }
//$zen-column-count:1;
//@media(max-width:550px){
//.f-wrapper{
//text-align:center;
//$zen-grid-width:100%;
//@include zen-grid-container();
//#block-block-6{
//@include zen-grid-item(1, 1);
//margin-bottom:20px;
//max-width:100%;}
//#block-views-tumblr-view-block{
//@include zen-grid-item(1, 1);
//@include zen-clear();
//margin-bottom:20px;
//max-width:100%;}
//#block-menu-menu-popular-links{
//@include zen-grid-item(1, 1);
//@include zen-clear();
//margin-bottom:20px;
//max-width:100%;}
//#block-block-7{
//@include zen-grid-item(1, 1);
//@include zen-clear();
//max-width:100%;
//	.news-logos{max-width:100%;}}
//  }
//}
$zen-column-count:3;
.f-wrapper{
$zen-grid-width:100%;
@include zen-grid-container();
#block-block-6{
@include zen-grid-item(1, 1);
padding-top:10px;
max-width:100%;
padding-left:4%;}
#block-menu-menu-popular-links{
@include zen-grid-item(1, 2);
max-width:100%;}
#block-block-7{
@include zen-grid-item(1, 3);
max-width:100%;}
}
$zen-column-count:2;
@media (max-width:1024px)and(min-width:550px){
.f-wrapper{
$zen-grid-width:100%;
@include zen-grid-container();
#block-block-6{
@include zen-grid-item(1, 1);
padding-top:10px;
max-width:100%;
padding-left:4%;}
#block-menu-menu-popular-links{
@include zen-grid-item(1, 2);
max-width:100%;
clear:none;}
#block-block-7{
@include zen-clear();
@include zen-grid-item(2, 1);
max-width:100%;
margin-top:20px;}
 }
}
$zen-column-count:1;
@media(max-width:550px){
.f-wrapper{
text-align:center;
$zen-grid-width:100%;
@include zen-grid-container();
#block-block-6{
@include zen-grid-item(1, 1);
margin-bottom:20px;
max-width:100%;}
#block-menu-menu-popular-links{
@include zen-grid-item(1, 1);
@include zen-clear();
margin-bottom:20px;
max-width:100%;}
#block-block-7{
@include zen-grid-item(1, 1);
@include zen-clear();
max-width:100%;
        .news-logos{max-width:100%;}}
  }
}
$zen-column-count:2;
.front .region-highlighted{
$zen-grid-width:100%; 
#block-panels-mini-simple-search-mini-container{
@include zen-grid-item(1, 1);
left: 10%;
padding:15px;
#block-islandora-solr-simple{
margin-top:0px;}}
.tumblrFront-block{
@include zen-grid-item(1, 1, right);
right: 10%;
padding:10px;}
}

@media(max-width:1024px)and(min-width:50px){
$zen-column-count:2;
.front .region-highlighted{
$zen-grid-width:100%;
#block-panels-mini-simple-search-mini-container{
@include zen-grid-item(2, 1);
@include zen-clear();
padding:15px;
text-align:center;
padding:0px;}
.tumblrFront-block{
@include zen-grid-item(2, 1);
@include zen-clear();
text-align:center;
padding:10px;
max-width:100%;
img {max-width:100%; max-height:100%;}
}
#block-islandora-solr-simple {
max-width:100%;
margin-left:0;
}
.tumblrFront{ 
float:none;
margin-right:0; margin-top:0;
max-width:100%;}
.tumblrBody{max-width:100%;}
}}


//@media(max-width: 550px){
//.front .region-highlighted{
//$zen-grid-width:100%;
//.tumblrFront-block{
//  max-width:100%;
// }
//#block-islandora-solr-simple{
//max-width:100%;
//width:100%;
//left:unset;}
//}}
